altgraph==0.17.2
asgiref==3.4.1
backpack==0.1
beautifulsoup4==4.11.1
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cleo==0.6.8
click==8.0.4
cryptography==3.4.8
Faker==0.8.18
Flask==2.0.3
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
inflection==0.3.1
itsdangerous==2.1.2
Jinja2==3.1.2
kaitaistruct==0.9
lazy-object-proxy==1.7.1
ldap3==2.9.1
macholib==1.16
MarkupSafe==2.1.1
mitmproxy==7.0.4
msgpack==1.0.4
passlib==1.7.4
pastel==0.1.1
peewee==3.15.3
pendulum==1.5.1
protobuf==3.18.1
publicsuffix2==2.20191221
pyaml==16.12.2
pyasn1==0.4.8
pycparser==2.21
Pygments==2.12.0
pylev==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyPika==0.48.9
PyQt6==6.3.1
PyQt6-QScintilla==2.13.3
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
python-dateutil==2.8.2
pytz==2022.1
pytzdata==2020.1
PyYAML==5.4.1
pyzmq==23.2.0
requests==2.28.1
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
simplejson==3.17.6
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
text-unidecode==1.2
tornado==6.1
tzlocal==1.5.1
urllib3==1.26.9
urwid==2.1.2
Werkzeug==2.1.2
wrapt==1.14.1
wsproto==1.0.0
zstandard==0.15.2
