altgraph==0.17
args==0.1.0
asgiref==3.3.1
attrs==20.3.0
autopep8==1.5.5
backpack==0.1
beautifulsoup4==4.9.3
blinker==1.4
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cleo==0.6.8
click==7.1.2
clint==0.5.1
coverage==5.4
cryptography==3.3.2
Faker==0.8.18
flake8==3.8.4
Flask==1.1.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
html5lib==1.1
html5print==0.1.2
hyperframe==6.0.0
idna==2.10
importlib-metadata==3.4.0
inflection==0.3.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
kaitaistruct==0.9
lazy-object-proxy==1.5.2
ldap3==2.8.1
MarkupSafe==1.1.1
mccabe==0.6.1
mitmproxy==7.0.4
msgpack==1.0.2
orator==0.9.9
packaging==20.9
passlib==1.7.4
pastel==0.1.1
pendulum==1.5.1
pluggy==0.13.1
plumbum==1.7.0
ply==3.4
protobuf==3.14.0
publicsuffix2==2.20191221
py==1.10.0
pyaml==16.12.2
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
pyinstaller==5.0.0
pyinstaller-hooks-contrib==2021.1
pylev==1.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PySide2==5.15.2.1
pytest==6.2.2
pytest-qt==3.3.0
python-dateutil==2.8.1
pytz==2020.5
pytzdata==2020.1
PyYAML==5.3.1
pyzmq==22.0.3
qasync==0.13.0
requests==2.25.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
shiboken2==5.15.2.1
simplejson==3.17.2
six==1.15.0
slimit==0.8.1
sortedcontainers==2.3.0
soupsieve==2.2.1
text-unidecode==1.2
tinycss2==1.1.0
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==1.5.1
urllib3==1.26.2
urwid==2.1.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
zipp==3.4.0
zstandard==0.14.1
