/*------------------------------------------------------------------------------*
 * General
 *------------------------------------------------------------------------------*/
QWidget {
  color: #D4D4D4;
  background-color: #252526;
  border-image: none;
  border: 0px transparent black;
  outline: 0;
}

/*------------------------------------------------------------------------------*
 * Tabs
 *------------------------------------------------------------------------------*/
QTabBar::tab {
  color: #D4D4D4;
  border: 0 transparent black;
  border-top: 0 solid #76797c;
  background-color: #2D2D2D;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 80px;
  min-height: 25px;
  margin-right: 2px;
}

QTabBar::tab:selected {
  color: #D4D4D4;
  border: 0 transparent black;
  border-top: 0 solid #76797c;
  background-color: #1E1E1E;
  border-top: 2px solid #FC6A0C;
}

QTabBar::tab:disabled {
  color: black;
  background-color: #2D2D2D;
}

/*------------------------------------------------------------------------------*
 * QTreeView
 *------------------------------------------------------------------------------*/
 QTreeView {
  selection-background-color: #094771;
  background-color: #1E1E1E;
}

/*------------------------------------------------------------------------------*
 * Table
 *------------------------------------------------------------------------------*/
QTableView {
  selection-background-color: #094771;
  background-color: #1E1E1E;
}

QHeaderView::section {
  background-color: #333333;
  color: #D4D4D4;
  border-radius: 0;
  border-right: 1px solid #1E1E1E;
  text-align: left;
  font-weight: normal;
}

QHeaderView::section:selected, QHeaderView::section:checked {
  font-weight: 900;
}

QTableView::item:hover {
  background-color: #094771;
}

/*------------------------------------------------------------------------------*
 * Scrollbar
 *------------------------------------------------------------------------------*/
 QScrollBar:horizontal {
  border: 0 solid grey;
  height: 10px;
  margin: 0px 0 0px 0;
}

QScrollBar::handle:horizontal {
  background: #323232;
}

QScrollBar::handle:horizontal:hover {
  background: #4F4F4F;
}

/* Disable arrow buttons: */
QScrollBar::add-line:horizontal { width: 0px;}
QScrollBar::sub-line:horizontal { width: 0px;}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal { width: 0px;}

QScrollBar:vertical {
  border: 0 solid grey;
  width: 10px;
  margin: 0px 0 0px 0;
}

QScrollBar::handle:vertical {
  background: #323232;
  min-height: 20px;
}

QScrollBar::handle:vertical:hover {
  background: #4F4F4F;
}


/* Disable arrow buttons: */
QScrollBar::add-line:vertical { height: 0px;}
QScrollBar::sub-line:vertical { height: 0px;}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical { height: 0px;}

/*------------------------------------------------------------------------------*
 * SideBar
 *------------------------------------------------------------------------------*/
QListWidget#sideBar {
  background: #333333;
  border-right: 1px solid #474747;
}

QListWidget::item#sideBar {
  padding: 5px;
}

QListWidget::item::!selected#sideBar {
  border-left: 2px solid #333333;
}

QListWidget::item::selected#sideBar {
  border-left: 2px solid #FC6A0C;
}

/*------------------------------------------------------------------------------*
 * StatusBar
 *------------------------------------------------------------------------------*/
QStatusBar {
  background: #333333;
  border-top: 1px solid #E25F11;
}

QStatusBar::item {
  background: #333333;
}

QStatusBar > QSizeGrip {
  background: #333333;
}

/*------------------------------------------------------------------------------*
 * Splitter
 *------------------------------------------------------------------------------*/
QSplitter::handle:horizontal {
  background-color: #474747;
  width: 1px;
  image: none;
}

QSplitter::handle:vertical {
  background-color: #474747;
  height: 1px;
  image: none;
}

QSplitter::handle:hover {
  background-color: #094771;
}

/*------------------------------------------------------------------------------*
 * Borders
 *------------------------------------------------------------------------------*/
QVBoxLayout#requestBodyFormLayout {
  border-top: 1px solid #474747;
}

QSplitter#requestsTableAndViewSplitter {
  border-top: 1px solid #474747;
}

QSplitter#editorSplitter {
  border-top: 1px solid #474747;
}

QSplitter#requestEditSplitter {
  border-top: 1px solid #1E1E1E;
}

QWidget#requestHeadersForm {
  border: 1px solid white;
  margin: 5px;
}

QTableView#headersTable {
  border-top: 1px solid #1E1E1E;
}

QSplitter::handle:vertical#requestBodySplitter {
  width: 0;
}

/*------------------------------------------------------------------------------*
 * QMenuBar
 *------------------------------------------------------------------------------*/
QMenuBar {
  border-bottom: 1px solid #474747;
}

/*------------------------------------------------------------------------------*
 * QPushButton
 *------------------------------------------------------------------------------*/
/* QPushButton
{
  padding: 4px;
  outline: none;
  color: #D4D4D4;
  border: 1 solid #76797c;
  background-color: #1E1E1E;
} */

QPushButton {
  color: #E7E7E7;
  background-color: #404040;
  border: 0 solid #76797c;
  border-radius: 3px;
  height: 30px;
  min-width: 100px;
}

QPushButton:hover {
  background-color: #3A3A3A;
}

QPushButton:pressed {
  border: 1 solid #404040;
  background-color: #252526;
}

QPushButton#toggleFuzzTableButton {
  height: 10px;
}

QPushButton#sendButton {
  background-color: #097BED;
  font-size: 14px;
  font-weight: 600;
}

QPushButton#saveButton {
  font-size: 14px;
  font-weight: 600;
}
/*------------------------------------------------------------------------------*
 * QComboBox
 *------------------------------------------------------------------------------*/
 QComboBox {
  padding: 4px;
  outline: none;
  height: 25px;
  color: #D4D4D4;
  border-width: 0;
  border-radius: 3px;
  background-color: #404040;
}

QComboBox#methodInput {
  padding-left: 10px;
  min-width: 50px;
  font-size: 14px;
  font-weight: 500;
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 25px;

  border-left-width: 1px;
  border-left-color: #1E1E1E;
  border-left-style: solid; /* just a single line */
  border-top-right-radius: 3px; /* same radius as the QComboBox */
  border-bottom-right-radius: 3px;

}

/*------------------------------------------------------------------------------*
 * TextArea & LineEdit
 *------------------------------------------------------------------------------*/
 QTextEdit, QPlainTextEdit {
  background-color: #1E1E1E;
  color: #D4D4D4;
  border-radius: 0;
}

QLineEdit {
  padding: 3px;
  border: 0 solid #76797c;
  background-color: #404040;
  color: #D4D4D4;
  border-radius: 3px;
  height: 25px;
}

QLineEdit:hover {
  background-color: #3A3A3A;
}

QLineEdit:focus {
  border: 1 solid #404040;
  background-color: #252526;
}
